/*
 *
 *
 * custom yaovi coder
 */
body {
    font-family: LatoWeb, "Poppins", sans-serif;
}

.nomb {
    margin-bottom: 0 !important
}

.section-pad-40 {
    padding-top: 40px;
    padding-bottom: 40px;
}

.section-pad-30 {
    padding-top: 30px;
    padding-bottom: 30px;
}

/* buttons */

.btn-primary {
    background: linear-gradient(to right, #000622 0%, #000 100%);
}

.btn-secondary {
    background: linear-gradient(to right, #baff29 0%, #6c9f00 100%);
    color: #000000;
    border: 1px solid #fff;
}

.btn-secondary-borderless {
    background: linear-gradient(to right, #baff29 0%, #6c9f00 100%);
    color: #000000;
    border: none;
}

.btn-secondary:hover, .btn-secondary:before {
    background: linear-gradient(to right, #000622 0%, #000 100%) !important;
    color: #ffffff !important;
    border: 1px solid #fff;
}

.btn {
    background-image: linear-gradient(to right, #6c9f00 0%, #baff29 100%);
    /* background: linear-gradient(to right, #000622 0%, #000 100%); */
}
.btn::before {
    background: -webkit-linear-gradient(to right, #000622 0%, #000 100%);
    background: linear-gradient(to right, #000622 0%, #000 100%);
}
.btn-rectangle{
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.btn-sm.btn-rectangle{
    padding: .25rem .5rem;
    font-size: .875rem;
    line-height: 1.5;
    border-radius: .2rem;
    min-width: 80px;
}

.btn-sm.btn-rectangle::before {
    border-radius: .2rem;
    background: #365000;
}
.btn-rectangle.btn-default {
    color: #6c757d;
    background-color: transparent;
    background-image: none;
    border: 1px solid #6c757d;

}

/* buttons end */

/* .navbar */

.navbar .navbar-nav > li a.active {

    color: #BAFF29;

}

.navbar .navbar-nav .sub-menu {
    background: #24283a;
}

.navbar .navbar-nav a {
    font-family: "aldrich-regular", "futura-medium", "Poppins", sans-serif;
}

/* logo */
.navbar-brand div#cspio-logo2-container {
    display: none;
}

.has-fixed.site-header .navbar-brand div#cspio-logo-container {
    display: none;
}

.has-fixed.site-header .navbar-brand div#cspio-logo2-container {
    display: block;
}

.navbar-brand #cspio-logo-container img.logo,
.navbar-brand #cspio-logo2-container img.logo2 {
    height: 36px;
    width: 36px;
    display: inline;
}

.navbar-brand h1#cspio-logo-text,
.navbar-brand h1#cspio-logo2-text {
    font-size: 1em;
    font-family: "rubik-medium", "evolve-sans-medium", Helvetica, Arial, sans-serif;
    font-weight: normal;
    display: inline-block;
    position: relative;
    color: #fff
}

.navbar-brand h1#cspio-logo-text span.italic,
.navbar-brand h1#cspio-logo2-text span.italic {
    padding-left: 2%;
    font-family: "rubik-medium-italic", "evolve-sans-italic", Helvetica, Arial, sans-serif;
    color: #fff;
    font-style: italic;
}

/* .navbar-brand h1#cspio-logo2-text { color: #424242 } */
.navbar-brand h1#cspio-logo2-text span.italic {
    color: #fff
}

section.banner.banner-full {
    min-height: 850px !important;
    position: relative !important;
    z-index: -3;
}

section.banner.banner-full::before {
    content: ' ' !important;
    display: block !important;
    position: absolute !important;
    left: 0 !important;
    top: 0 !important;
    width: 100% !important;
    height: 100% !important;
    z-index: 1 !important;
    opacity: 1 !important;
    /*background-image: url('../../../assets/images/bzx_banner2_1300x850.png') !important;*/
    background-image: url('../../../assets/images/bzx_banner5_1300.png') !important;
    background-repeat: no-repeat !important;
    /* background-position: 50% 0 !important; */
    -ms-background-size: cover !important;
    -o-background-size: cover !important;
    -moz-background-size: cover !important;
    -webkit-background-size: cover !important;
    background-size: cover !important;
    /* padding-top: 68.97%; */
}

.header-image-lobelia {
    z-index: 3;
    position: relative;
}

.header-image-lobelia img {
    width: 30%;
    display: block;
    margin: 1% auto;
}

.header-image-lobelia.table-display span.cell-display::before {
    content: ' ' !important;
    /* display: block !important;
      position: absolute !important;
      left: 0 !important;
      top: 0 !important; */
    width: 100% !important;
    height: 100% !important;
    z-index: 1 !important;
    opacity: 5 !important;
    background-image: url('../../../assets/images/bzx_logo_white.png') !important;
    background-repeat: no-repeat !important;
    background-position: 50% 0 !important;
    -ms-background-size: cover !important;
    -o-background-size: cover !important;
    -moz-background-size: cover !important;
    -webkit-background-size: cover !important;
    background-size: cover !important;
}

.section-head-s6 {
    padding-bottom: 20px;
}

.io-lobelia .heading-sm-s2 {
    color: #baff29;
}

.heading-sm-s2 {
    text-transform: uppercase;
    letter-spacing: 0.2em;
    color: #16a1ff;
    padding-left: 75px;
    position: relative;
    font-size: 0.93em;

}

.heading-sm-s2::before {
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -1px;
    height: 2px;
    width: 60px;
    content: "";
    background: #16a1ff;

}

.io-lobelia .heading-sm-s2::before {
    background: #baff29;
}


.section-head-s7 {
    padding-bottom: 65px;
}

.big-icons {
    background-color: #000622;
    padding: 2% 0 40px 0;
}

.big-icons .features-texts-s2 {
    padding: 3%;
    text-align: center;
}

#wrapper {
    position: relative;
    width: 100%;
    height: 100%;
}

#content {
    position: relative;
    z-index: 100;
}

#bground {
    position: fixed;
    padding: 0;
    margin: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -100;
}

#particles-js > canvas {
    width: 100%;
    height: 100%;
    z-index: -100 !important;
}

.io-lobelia .section-bg-alt,
.io-lobelia .section-bg {
    position: relative;
}

.io-lobelia .section-bg-alt:before {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0.1;
    background-image: url('img/bzx_grey.png');
    background-repeat: no-repeat;
    background-position: 50% 0;
    -ms-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
}

.io-lobelia .section-bg {
    /* 005489, 24283a */
    background-color: #1f1f2e !important;
}

.io-lobelia .mining-page .site-header.has-fixed .navbar {
    background: #1f1f2e !important;
}

.io-lobelia .site-header.has-fixed .navbar {
    background: #1f1f2e !important;
}

.fixed-colored-nav .site-header.has-fixed .navbar,
.fixed-colored-nav .site-header .navbar.is-transparent {
    background: #1f1f2e !important;
}

.bg-grey {
    background: #f1ffe7 !important;
}

.bg-navy-dark {
    background-color: #000622;
}

.bg-black {
    background-color: #000 !important;
}

.bg-grey h1,
.bg-grey h2,
.bg-grey h3,
.bg-grey h4,
.bg-grey h5,
.bg-grey h6,
.bg-grey blockquote {
    color: #1a1b41;
}

.io-lobelia .bg-grey .text-block p {
    color: #1a1b41 !important;
}

.bg-grey .section-head .section-title span,
.bg-grey .section-head .bg-grey .section-title::before {
    color: #BAFF29;
    opacity: 0.3;
}

.io-lobelia .menu-link.orphan-link.btn::before {
    background: #ffffff;
}

.io-lobelia .menu-link.orphan-link.btn.btn-outline::after {
    background: #020207;
}

.features-item-s2 {
    margin-bottom: 16px;
    min-height: 125px;

}

.features-icon-s2 {
    height: 90px;
    width: 90px;
    display: table;
    position: relative;
    /* background: linear-gradient(to right, #24283a 0%, #000 100%); */
    /* background: linear-gradient(to right, #000622 0%, #000 100%); */
    background: none;
}

.features-icon-s2 img {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 80%;
    height: 80%;
    margin-top: -40%;
    /* Half the height */
    margin-left: -40%;
    /* Half the width */
}

.features-icon-s2 span {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.features-icon-s2 span[class^="icon-bzx"]:before,
.features-icon-s2 span[class*=" icon-bzx"]:before {
    color: #8BD4EC !important;
}

.contact-info li .fab::before {
    color: #ffffff !important;
}

/*  icomoon */
.icn-bzx_masternode::before {
    /* content: "\e907"; */
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 1;
    background-image: url('../../../assets/images/icons/bzx_masternodes_64x64.png');
    background-repeat: no-repeat;
    background-position: 50% 0;
    -ms-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
}

.icon-bzx_ecomponents:before {
    content: "\e904";
}

.icon-bzx_safety:before {
    content: "\e906";
}

.icon-bzx_fast:before {
    content: "\e903";
}

.icon-bzx_security:before {
    content: "\e902";
}

.icon-bzx_decentralized_black:before {
    content: "\e909";
}

/* #bzx_eco_frmwk */
section#bzx_eco_frmwk .modal-lg {
    max-width: 100%;
}

section#bzx_eco_frmwk .modal-body,
section#bzx_eco_frmwk .modal-footer {
    background-color: #000622;
}

section#bzx_eco_frmwk .legend {
    max-width: 100%;
}

/* team */
.team-circle-des {
    /* background: #1a1241; */
    background: none;
}

/* fontawesome */
.social li a:hover,
.page-pagination li a:hover::after,
.page-pagination li span::after,
.wpb-js-composer .vc_tta.vc_general.vc_tta-tabs-position-top .vc_tta-tabs-list::after,
.theme-light .blog-meta li::after {
    background: #baff29;
}

/*contact */
.contact-info li .fa,
.contact-info li .fab,
.contact-info li .fas {
    background-image: -webkit- linear-gradient(to right, #2b56f5 0%, #46bdf4 100%);
    background-image: linear-gradient(to right, #2b56f5 0%, #46bdf4 100%);
    font-size: 0;
    line-height: 38px;
    height: 38px;
    width: 38px;
    text-align: center;
    color: #fff;
    border-radius: 50%;
    display: block
    margin-left: auto;
    margin-right: auto;
    margin-left: auto;
}

section#contact .comment-form .input-field .input-line {
    border-bottom-color: #baff29;
}

/* #cd-cryptic-timeline */
#cd-cryptic-timeline,
#cd-cryptic-timeline .cd-date,
#cd-cryptic-timeline h3.timeline_item_title {
    font-family: "aldrich-regular", "futura-medium", "Poppins", sans-serif;
}

#cd-cryptic-timeline p {
    font-family: "futura-medium", "Poppins", sans-serif;
    color: #000
}

#cd-cryptic-timeline .cd-timeline-img.cd-picture {
    display: table;
    position: relative;
}

/* #cd-cryptic-timeline .cd-timeline-img.cd-picture span {
    display:table-cell;
     vertical-align:middle;
    text-align: center;
} */
#cd-cryptic-timeline .cd-timeline-img.cd-picture .fa,
#cd-cryptic-timeline .cd-timeline-img.cd-picture .fab,
#cd-cryptic-timeline .cd-timeline-img.cd-picture .fas {
    z-index: 3;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

/* partner-list-s2 */
section#partners {
    /* background-color: #142751 !important; */
    /* background: rgba(20, 39, 81, 0.5) !important; */
    padding-bottom: 10px;
}

/* section#partners .section-title{
    color: #24283a ;
}
section#partners .section-head .section-title span,
section#partners .section-head .section-title::before {
        color: #b8f2ff;
        opacity: 0.3;
            z-index: -20;
} */
.partner-list-s2 {
}

.partner-list-s2 .single-partner img.filter-grey {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

.partner-list-s2 .single-partner img.filter-white {
    filter: brightness(0) invert(1);
}

.partner-list-s2 .single-partner.rectangle img {
    min-height: 50px;
    max-height: 60px;
    width: auto;
}

.partner-list-s2 .single-partner.square img {
    min-height: 50px;
    max-height: 60px;
    /* min-width: 50px; */
    width: auto;
}

/* documents */
.document-img-s3 {
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
}

.document-list {
    margin: -22px -30px;
}

.document-list .btn {
    border: 3px solid #fff;
}

.document-list .btn.btn-outline,
.document-list .btn.btn-outline::after {
    background: #24283a;
}

.document-list .btn:hover, .document-list .btn:focus, {
    background: linear-gradient(to right, #000622 0%, #000 100%) !important;
    color: #fff;
    outline: none;
    box-shadow: none;
}

.document-list .dropdown-menu {
    background-color: #24283a;
}

.document-list > li .dropdown-menu li a {
    color: #fff;
}

.document-list > li {
    display: inline-block;
    padding: 22px 30px;
    position: relative;
}

.document-list > li .btn {
    min-width: 200px;
}

.document-list > li .dropdown-menu-right {
    text-align: center;
}

.document-list > li .dropdown-menu {
    min-width: calc(100% - 60px);
    padding: 0;
    border: none;
    z-index: 5;
}

.document-list > li .dropdown-menu li {
    border-bottom-color: rgba(254, 67, 80, 0.1);
}

.document-list > li .dropdown-menu li a {
    display: block;
    padding: 7px 35px;
}

/* document end */

/* filters  */
img.filter-grey {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

img.filter-white {
    filter: brightness(0) invert(1);
}

/* bzx-framework */
#bzx_eco_frmwk .users-tooltip {
    visibility: hidden;
}

#bzx-framework-user1 .tooltip-text-user1 {
    visibility: hidden;
    width: 100%;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
}

#bzx-framework-user1:hover .tltiptext {
    visibility: visible;
}

/* Tooltip container */
.tltip {
    position: relative;
    display: inline-block;
    border: 1px dotted #fff;
}

.tltip p {
    color: #fff
}

/* Tooltip text */
.tltip .tltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tltip:hover .tltiptext {
    visibility: visible;
}

/* panels */
.panel {
    margin-bottom: 20px;
    /* background-color:/ #fff; */
    border: 1px solid transparent;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
}

.panel-default {
    border-color: #ddd;
}

.panel-heading {
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-bottom-color: transparent;
}

.panel-default > .panel-heading {
    color: #333;
    background-color: #f5f5f5;
    border-color: #ddd;
}

.panel-body {
    padding: 15px;
}

#ticker-panels .panel {
    border: none;
}

#ticker-panels .panel-heading {
    color: #fff;
    background-color: #202020;
    white-space: nowrap;
    padding: 10px 0;
    border-radius: 6px 6px 0 0;
}

#ticker-panels .panel-body {
    color: #fff;
    background-color: #424242;
    padding: 10px 0;
    height: 50px;
    position: relative;
    text-align: center;
    border-radius: 0 0 6px 6px;
}

/* intro-video */
.intro-video {
}

.intro-video.section-pad {
    padding-top: 0;
}

.video-box-s2 {
    /* border: 3px solid rgba(186, 255, 41, 1);
    border: 1px solid #baff29;*/
}

.video-box-s2:before {
    background: rgba(0, 5, 55, 0.1);

}

.video-box-s2 img {
}


/* page-header */
.page-header-cover {
    background: #000622;
    background-position-x: 0%;
    background-position-y: 0%;
    background-repeat: repeat;
    background-attachment: scroll;
    background-size: auto auto;
    background-image: url(images/blockchain.svg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    height: 230px;
    padding-top: 70px;
    margin-bottom: 0px;
    display: table;
    width: 100%;

}

.page-header {

    padding-top: 0px;
    border-bottom: none;

}

.page-header, .cs-header {

    display: table-cell;
    vertical-align: middle;
    text-align: center;

}

.page-header {

    padding-bottom: 9px;
    margin: 40px 0 20px;
    border-bottom: 1px solid #baff29;

}

.page-header h1, .nh-bg-color h1, .nh-bg-angle h1, .signup h1 {

    text-transform: uppercase;
    padding-left: 20px;
    text-align: left;
    font-size: 31px;
    font-weight: 700;

}

code.tag {
    position: relative;
    display: inline-block;
    padding: .4em .5em;
    margin: 2px 2px 2px 0;
    font-size: 11px;
    line-height: 1;
    white-space: nowrap;
    text-decoration: none;
    text-align: center;
    border-width: 1px;
    border-style: solid;
    border-radius: 3px;
    transition: all .15s ease-in-out;

}

code.tag {
    color: #39739d;
    background-color: #E1ECF4;
    border-color: #E1ECF4;

}

.bottom-dashed {
    border-bottom: 1px dashed #baff29;
}

/* hexagon */


.hexagon {
    position: relative;
    width: 90px;
    height: 51.96px;
    background-color: #baff29;
    margin: 25.98px 0;
    border-left: solid 5px #333333;
    border-right: solid 5px #333333;
}

.hexagon:before,
.hexagon:after {
    content: "";
    position: absolute;
    z-index: -10;
    width: 63.64px;
    height: 63.64px;
    -webkit-transform: scaleY(0.5774) rotate(-45deg);
    -ms-transform: scaleY(0.5774) rotate(-45deg);
    transform: scaleY(0.5774) rotate(-45deg);
    background-color: inherit;
    left: 8.1802px;
}

.hexagon:before {
    top: -31.8198px;
    border-top: solid 7.0711px #333333;
    border-right: solid 7.0711px #333333;
}

.hexagon:after {
    bottom: -31.8198px;
    border-bottom: solid 7.0711px #333333;
    border-left: solid 7.0711px #333333;
}

/* social li */
.social li a {
    color: #baff29;
    background: transparent;
    height: 50px;
    width: 50px;
    font-size: 45px;
    line-height: 60px;
    border-radius: 0;
}

.social li a:hover {
    background: transparent;
    color: #fff;
}

.social li.hexagon a {
    color: #fff;
}

/* section documents */

section#documents {
}

section#documents .dropdown-menu {
    color: #fff;

}

section#documents .document-list > li .dropdown-menu li a {
    display: inline;
    padding: 0;

}

/* branding page */

.card-title{
    text-transform: uppercase;
    font-size: 1.2em;
}

.card-img-box {
    height: 200px;
    background: #e1e1e1;
}

.card-img {

}

.brand-img.square {
    width: auto;
    height: 100%;
}


/* custom colors */

.colorize.black {
    color: #000 !important
}