@font-face {
  font-family: 'futura-medium';
  src: url('fonts/futura-medium.ttf') format('truetype');
  font-weight: bolder;
}

@font-face {
  font-family: 'futura-medium-italic';
  src: url('fonts/futura-medium-italic.ttf') format('truetype');
  font-weight: bolder;
}
@font-face {
  font-family: 'futura-bold';
  src: url('fonts/futura-bold.ttf') format('truetype');
  font-weight: bolder;
}

@font-face {
  font-family: 'futura-bold-italic';
  src: url('fonts/futura-bold-italic.ttf') format('truetype');
  font-weight: bolder;
}
