
/*
 *
 *
 * by yaovi coder
 */


 /* bg-colors */
.no-bg-color{background-color: transparent !important;}
.bg-color-cyan-medium-light{background-color: #6dbddb !important;}

/* colorize */
.colorize-yellow-green { color: #baff29 !important; }
.colorize-blue-magenta { color: #8129ff !important; }

.img-bg-white{background: #fff !important;}
