.team-circle {
  margin-bottom: 50px;
}

.team-circle .team-photo {
  position: relative;
  width: 160px;
  margin: 0 auto;
}

.team-circle .team-photo img {
  border-radius: 50%;
  width: 160px;
  position: relative;
  z-index: 2;
}

.team-circle .team-photo .expand-trigger {
  position: absolute;
  top: -12px;
  left: -12px;
  height: calc(100% + 24px);
  width: calc(100% + 24px);
  z-index: 3;
  border-radius: 50%;
  color: #fff;
}

.team-circle .team-photo:before {
  position: absolute;
  content: "";
  height: calc(100% + 12px);
  width: calc(100% + 12px);
  border-radius: 50%;
  top: -6px;
  left: 50%;
  transform: translateX(-50%) scale(0.6);
  z-index: 1;
  opacity: 0;
  transition: all .5s ease;
  background-image: linear-gradient(to top, #2b56f5 0%, #46bdf4 100%);
}

.team-circle .team-photo:hover .expand-trigger {
  opacity: 1;
}

.team-circle .team-photo:hover:before {
  opacity: 1;
  transform: translateX(-50%) scale(1);
}

.team-circle .team-info {
  margin-top: 25px;
}

.team-circle .team-name {
  font-weight: 400;
  margin-bottom: 0;
}

.team-circle .team-title {
  color: #8255fd;
  font-size: 13px;
  display: block;
  margin-bottom: 12px;
}

.team-circle .team-social li {
  display: inline-block;
  margin: 0 7px;
}

.team-circle .team-social li a .fa {
  font-size: 16px;
}

.team-circle .team-photo img {
  transition: all .6s;
}

.team-circle .team-photo:hover img {
  transform: scale(0.85);
}

.team-circle .team-photo:before {
  opacity: 1;
  transform: translateX(-50%) scale(1);
  background: linear-gradient(180deg, #8ad100 0%, #baff29 100%);
}

.team-circle .team-title {
  color: #4c5a77;
}

.team-circle .team-name {
  color: #fe4350;
}

.team-circle .team-social li a {
  color: #4c5a77;
}

.team-circle .team-social li a:hover {
  color: #fe4350;
}
