@font-face {
    font-family: pe-icon-7-stroke;
    src: url(Pe-icon-7-stroke.eot@d7yf1v);
    src: url(Pe-icon-7-stroke.eot@) format("embedded-opentype"),
    url(Pe-icon-7-stroke.woff@d7yf1v) format("woff"),
    url(Pe-icon-7-stroke.ttf@d7yf1v) format("truetype"),
    url(Pe-icon-7-stroke.svg@d7yf1v) format("svg");
    font-weight: 400;
    font-style: normal
}