* {
    font-family: Montserrat, LatoWeb, "Poppins", sans-serif;
}

body {
    background: initial;
    height: 100%;
    color: #fff;
    z-index: -30;
}

html {
    background: url('../../images/bzx_bg_blockchain_top.png') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    z-index: -50;
}

/* navbar-brand */


header.site-header {
    max-height: 50px;
    line-height: inherit;
}

.navbar {
}

.navbar-brand #cspio-logo-container img.logo {
    height: 48px;
    width: 48px;
    display: inline;
}

.navbar-brand h1#cspio-logo-text {
    font-family: "rubik-medium", "evolve-sans-italic", Helvetica, Arial, sans-serif !important;
    font-size: 1.9rem;
    font-weight: 200;
    display: inline-block;
    color: #fff;
}

.navbar-brand h1#cspio-logo-text span.italic {
    font-family: "rubik-medium-italic", "evolve-sans-italic", Helvetica, Arial, sans-serif !important;
    padding-left: 2%;
    color: #fff;
}

.navbar .navbar-nav li {
    padding: 0 1rem;
}

.navbar .navbar-nav li.nav-item a {
    color: #fff;
}

.navbar .navbar-nav li.active a, .navbar .navbar-nav a:hover {
    background-color: inherit;
    color: #baff29 !important;
    -webkit-box-shadow: inset 0 2px 0 0 #baff29;
    box-shadow: inset 0 2px 0 0 #baff29;
}

.lang-switch#culturemenu {
    margin-bottom: 0;
}

/* navbar end*/


/* fontawesome */

#cspio-socialprofiles a:hover {
    color: #fff;
}

/* fontawesome end */


/* buttons */

/* buttons end */


/* typography */


.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    height: auto;
    margin-bottom: .5rem;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.2;
    color: inherit;
}

.h1, h1 {
    font-size: 2.5rem;
}

.is-size-5 {
    font-weight: 800;
    color: #343a40;
}

/* typography end */


/* jumbotron */

.jumbotron {
    background-color: initial;
    padding: initial;
}

.jumbotron .container {
    max-width: inherit;
}


/* jumbotron end */

/* util classes */

.is-block {
    display: block !important;
}

.empty-p-0:empty {
    display: none;
}

.long-word-break {
    overflow-wrap: break-word !important;
}

.dont-break-out {
    /* These are technically the same, but use both */
    overflow-wrap: break-word;
    word-wrap: break-word;

    -ms-word-break: break-all;
    /* This is the dangerous one in WebKit, as it breaks things wherever */
    word-break: break-all;
    /* Instead use this non-standard one: */
    word-break: break-word;

    /* Adds a hyphen where the word breaks, if supported (No Blink) */
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}

.dont-break-out-ellipses {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.clearfix {
    clear: both;
}

.center-middle {
    display: table;
}

.full-width {
    width: 100%;
}

/* [class^='brad-']{ border-radius: }*/

/* border-radius */

.brad-4 {
    border-radius: 4px
}

.brad-6 {
    border-radius: 6px
}

.brad-8 {
    border-radius: 8px
}

.brad-10 {
    border-radius: 10px
}

.brad-12 {
    border-radius: 12px
}

/* border-radius end */

/* bg colors override */
a {
    color: #baff29;
}

a:hover {
    color: #d73d79;
}

.bg-danger {
    color: #fff
}

.bg-danger-dark {
    color: #fff;
    background-color: #a7010c;
}

.bg-white {
    background-color: #fff !important;
    color: #1f1f2e;
}

.bg-navy-dark {
    background-color: #1f1f2e !important;
}

.light-bg {
    background-color: #bebfbf !important;
}

/* bg colors override end */


/* util classes end */


/* ninja lib classes override */


#menu {
    display: none;
    font-size: 90%;
}

#wallets {
    background-color: #0b0b0b;
}

#detailkeyareaBox {
    display: none;
}

#initBanner, .singlearea, .walletarea, .menu .tab, .menu .tab.selected, .commands {
    background-color: transparent;
}

.walletarea {
    border: none;
}

#seedpooldisplay {
}

#singlearea {
    font-size: 100%;
}

#keyarea, #initBanner {
    height: auto;
    border-bottom: none;
}


#keyarea .private {
    height: auto;
    border-top: 1px solid #bfbfbf;
    text-align: inherit;
}

#keyarea .privwif,
#keyarea .qrcode_private {
    text-align: inherit;
}

h3#generatelabelbitcoinaddress {
    font-size: 2rem;
    line-height: 1.33;
    font-weight: 600;
    z-index: 100;
}

#generatelabelmovemouse {
    z-index: 100;
}

#detailarea #detailqrcodepublic,
#detailarea #detailqrcodepubliccomp,
#detailarea .pubqr .item,
#detailarea #detailqrcodeprivate,
#detailarea #detailqrcodeprivatecomp {
    float: initial;
}

#detailarea .item {
    padding: 1rem

}

#detailkeyarea .notes {
    text-align: justify;
    padding: initial;
}

#detailkeyarea .details-box {
}

#seedpooldisplay {
    width: 100%;
    padding: 3% auto;
    word-wrap: break-word;
    min-height: 250px;
}

code#seedpooldisplay {
    display: inline-block;
    padding: 1em 1em;
    margin: 2px 2px 2px 0;
    font-size: 1em;
    line-height: 1;
    text-decoration: none;
    border-width: 3px;
    border-style: solid;
    border-radius: 8px;
    transition: all .15s ease-in-out;
    word-wrap: break-word;
}

#btcaddress, #btcprivwif,
#detailaddress, #detailaddresscomp,
#detailprivwif, #detailprivwifcomp,
#detailpubkey, #detailpubkeycomp {
    font-size: 0.8em;

}

#detailpubkey {
    min-height: 2vh;
}

code#seedpooldisplay.tag {
    display: block;
}

.paperWalletText {
    color: #fff;

}

p#thisOrThat {
    font-weight: 600;
    color: #fff;
    font-size: 2rem;
    text-transform: uppercase;
}

.private .priv-caution h3.message {
    color: #ff0000;
    font-size: 1.3em;
    font-weight: 600;
    line-height: 1.3;
    text-transform: uppercase;
}

.public .public-share h3.message {
    color: #baff29;
    font-size: 1.1em;
    font-weight: 600;
    line-height: 1.3;
    text-transform: uppercase;
}

#detailarea span.qrinput #detailprivkey {
    height: initial;
}

.qrcodeinputwrapper img.qrc-bg {
    position: initial;
    display: block;
    top: initial;
    right: initial;
    width: 16px;
    height: 16px;
    background: url("../../images/qrcode.png");
    cursor: pointer;
    padding: 0;
}

/* mouse-pad-box */
#mouse-pad-box {
    width: 100%;
}

#mouse-pad-box textarea.mouse-pad {
    width: 100%;
    background-color: #baff29;
    border-radius: 3px;
}

#mouse-pad-box p.mouse-pad {
    display: table;
    font-size: 13px;
    height: 60px;
    margin: 0 0 15px;
    text-align: center;
    width: 100%;
    border: 2px solid #fff;
    transition: border .2s linear 0s;
    min-height: 200px;
    background-color: #bebfbf;;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 1);
    border-radius: 8px;
}

.seedpoint {
    background-color: #baff29;
    z-index: 2;
    opacity: 0.4;

}


code.tag {
    border-color: #f1f1f1;
}

code.tag {
    position: relative;
    display: inline-block;
    padding: .4em .5em;
    margin: 2px 2px 2px 0;
    margin-bottom: 2px;
    font-size: 11px;
    line-height: 1;
    text-decoration: none;
    border-width: 3px;
    border-style: solid;
    border-radius: 8px;
    transition: all .15s ease-in-out;
    word-wrap: break-word;

}

code.nice {
    background: #F7F8FA;
    border-left: 5px solid #E4E5E7;
    font-size: 12px;
    overflow: hidden;
    padding: 10px;
    text-align: left;
    text-overflow: ellipsis;
}

#wallets, .cd-tabs .cd-tabs__content, #initBanner, .walletarea {
    background-color: transparent !important
}


/* ninja lib classes override end */


/* responsive-tabbed-navigation cd-tabs override */

.cd-tabs {
    background-color: #1f1f2e;
    padding: 2em;
    width: 100%;
    max-width: 100%;
    border-radius: 6px;
}

.cd-tabs nav {
    height: auto;
}

.cd-tabs__content li p {
    color: #fff
}

.cd-tabs .cd-tabs__content {
    background-color: #29293d;
}

.cd-tabs__content li {
    padding: 1em 0;

}

.cd-tabs__navigation a::before {
    background-image: none;
    background-size: 16px;
}

.cd-tabs__navigation a#singlewallet::before {
    background-image: url("../../lib/responsive-tabbed-navigation/img/icons/single-file-icon_256.png");
}

.cd-tabs__navigation a#paperwallet::before {
    background-image: url("../../lib/responsive-tabbed-navigation/img/icons/wallet-icon_256.png");
}

.cd-tabs__navigation a#bulkwallet::before {
    background-image: url("../../lib/responsive-tabbed-navigation/img/icons/document-bulk-down-icon_256.png");
}

.cd-tabs__navigation a#detailwallet::before {
    background-image: url("../../lib/responsive-tabbed-navigation/img/icons/search-icon_256.png");
}


/* responsive-tabbed-navigation cd-tabs override */


/* progress-bar */

.progress-title {
    font-size: 18px;
    font-weight: 700;
    color: #000;
    margin: 0 0 10px;
}

.progress-outer {
    background: #fff;
    padding: 5px 60px 5px 5px;
    border: 5px solid #bebfbf;
    border-radius: 45px;
    margin-bottom: 20px;
    position: relative;
}

.progress {
    background: #bebfbf;
    border-radius: 20px;
    margin: 0;
    height: 3rem;
}

.progress .progress-bar {
    border-radius: 20px;
    box-shadow: none;
    animation: animate-positive 2s;

    background-color: #baff29;
}

.progress .progress-value {
    font-size: 20px;
    font-weight: 700;
    color: #6b7880;
    position: absolute;
    top: 25%;;
    right: 10px;
}

@keyframes animate-positive {
    0% {
        width: 0;
    }
}

/* progress-bar end */


#wallets, .cd-tabs, .cd-tabs .cd-tabs__content, #initBanner, .walletarea {
    background-color: transparent !important
}

/* footer */

.footer {
    font-size: inherit;
    clear: inherit;
    width: inherit;
    padding: inherit;
    margin: inherit;
}

.footer {
    padding: 1rem 0;
    border-top: 1px solid #f1f1f1;
}


/* footer end */
