

@media print {
    body {
        -webkit-print-color-adjust: exact;
        width: 1000px;
        height: 450px;
    }

    #main {
        width: auto;
    }

    #singlearea {
        border: 0;
    }

    #singlesafety {
        border: 0;
    }

    #paperarea .keyarea:first-child {
        border-top: 1px solid #BFBFBF;
    }

    #paperarea .keyarea.art:first-child {
        border: 0;
    }

    .pagebreak {
        height: 1px;
    }

    .paper #logo {
        display: none;
    }

    .menu, .footer, .commands, #tagline, #faqs, #culturemenu {
        display: none;
    }

    #detailprivwif {
        width: 285px;
        word-wrap: break-word;
    }

    #detailprivwifcomp {
        width: 310px;
        word-wrap: break-word;
        text-align: right;
    }

    #detailarea .privqr .item.right {
        width: 310px;
    }

    #detailarea .privqr .item {
        width: 285px;
    }

    #detailarea .notes {
        display: none;
    }

    #seedpoolarea {
        display: none;
    }

    .faq {
        display: none;
    }

    .banner {
        display: none;
    }

    #currency {
        display: none;
    }

    #paperarea .artwallet .btcaddress, #paperarea .artwallet .btcprivwif {
        z-index: 999;
    }

    .paperWalletText {
        z-index: 999;
    }

    .dogeTag {
        display: none;
    }
}